@import '../fonts/Pretendard.css'; 
@import '../fonts/SCDream.css'; 
@import '../fonts/Montserrat.css';
:root { /* [font-family 설정] -----------------------------*/ --k-ff1: "Pretendard"; --k-ff2: "SCDreant -m"; /* 영문 종류 사용: fo 폰트명 */ --e-ff1: "Montserrat"; /*------------------------------------------------*/ }

body { font-family: var(--e-ff1), var(--k-ff1), var(--k-ff2), san-serif; }


.login__area { position: relative; background-image: url(../img/sub/login_bg.png); background-size: cover; background-repeat: no-repeat; width: 100%; height: 100vh; background-color: #000000; display: flex; align-items: flex-end; justify-content: center; padding: 10rem; } 
.log_box { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: #ffffff; display: flex; width: 70%; } 
.visual__area { width: 56%; background-image: url('../img/sub/login_visual.png'); background-size: cover; background-position: center; background-repeat: no-repeat; } 
.input__area { width: 44%; padding: 6rem; position: relative; } 
.input__area .logo { position: absolute; right: -10rem; top:-10rem; } 
.input__area .inner { width: 100%; } 
.input__area .inner h2 { font-size: 3.2rem; font-weight: 600; margin-bottom: 3rem; color:#4A4A50} 
.input__area .inner .btn-area { display: flex; gap: 2rem; margin-bottom: 2rem; } 
.input__area .inner .btn-area button { flex: 1; height: 5rem; font-size: 1.6rem; font-weight: 600; background: #FFFFFF; color:#D1D5E4; border: 2px solid #D1D5E4; border-radius: 10px; } 
.input__area .inner .btn-area button.active { color:#094891; border: 2px solid #094891; } 

/* login-form */
.textb { margin-bottom: 12px; position: relative; } 

.textb input { width: 100%; height: 65px; border: none; background-color: #f9f9f9; border:1px solid #E5E5E5;border-radius: 10px; color: #333; font-size: 1.5rem; font-weight: 700; padding: 14px 60px 0 30px; } 

.placeholder { font-size: 1.5rem; font-weight: 700; position: absolute; line-height: 65px; top: 0; left: 30px; color: #9d9d9d; user-select: none; pointer-events: none; transition: 0.2s; } 

.show-password { position: absolute; right: 20px; line-height: 65px; color: #9d9d9d; font-size: 1.5rem; cursor: pointer; } 

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder { left: 30px; top: -15px; font-size: 0.84rem; } 

.log_btn button { width: 100%; height:56px; margin-top:32px; background-color: #4B84F1; border-radius: 10px; font-size:16px; color:#ffffff; } 
.log_btn button:hover { background-color: #3268cc; } 

.find_wrap { display: flex; justify-content: space-between; margin-top:24px; font-size:16px; font-weight: 600; color:#AFB3BC; } 
.find_wrap .red_col { color:#C2413D; } 
.find_wrap a:hover { text-decoration: underline; } 

.copy{font-size: 1.45rem;color: #FBFBFB;}


/* 로고 애니메이션 효과 */
/* .animation__img02 { position: absolute; right: 30rem; top:-4rem; } 
.animation__img02 img { animation: floatUpDown 2s ease-in-out infinite; } 

@keyframes floatUpDown { 
 0% { transform: translateY(0); } 
 50% { transform: translateY(-10px); } 
 100% { transform: translateY(0); } 
 } */


@media (max-width: 1024px){
 .visual__area { display: none; } 
 .input__area { width: 100%; } 
 }
@media (max-width: 768px){
    .log_box {width: 80%;}
    .login__area{padding: 4rem;}
    .input__area .logo{max-width: 43%;right: -5rem;}
    .input__area .logo img{width: 100%;}
 }