@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 200;
	font-display: block;
    src: url('../fonts/woff/Montserrat-Light.eot');
    src: url('../fonts/woff/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/Montserrat-Light.woff2') format('woff2'),
         url('../fonts/woff/Montserrat-Light.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 400;
	font-display: block;
    src: url('../fonts/woff/Montserrat-Regular.eot');
    src: url('../fonts/woff/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/woff/Montserrat-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 600;
	font-display: block;
    src: url('../fonts/woff/Montserrat-Bold.eot');
    src: url('../fonts/woff/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/woff/Montserrat-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 800;
	font-display: block;
    src: url('../fonts/woff/Montserrat-ExtraBold.eot');
    src: url('../fonts/woff/Montserrat-ExtraBold?#iefix') format('embedded-opentype'),
         url('../fonts/woff/Montserrat-ExtraBold.woff2') format('woff2'),
         url('../fonts/woff/Montserrat-ExtraBold.woff') format('woff');
}
