@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 100;
	font-display: block;
    src: url('/fonts/woff/Pretendard-Thin.woff');
    src: url('/fonts/woff/Pretendard-Thin.woff') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-Thin.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 200;
	font-display: block;
    src: url('/fonts/woff/Pretendard-ExtraLight.eot');
    src: url('/fonts/woff/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-ExtraLight.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 300;
	font-display: block;
    src: url('/fonts/woff/Pretendard-Light.eot');
    src: url('/fonts/woff/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-Light.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-Light.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 400;
	font-display: block;
    src: url('/fonts/woff/Pretendard-Regular.eot');
    src: url('/fonts/woff/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-Regular.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 500;
	font-display: block;
    src: url('/fonts/woff/Pretendard-Medium.eot');
    src: url('/fonts/woff/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-Medium.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 600;
	font-display: block;
    src: url('/fonts/woff/Pretendard-SemiBold.eot');
    src: url('/fonts/woff/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-SemiBold.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 700;
	font-display: block;
    src: url('/fonts/woff/Pretendard-Bold.eot');
    src: url('/fonts/woff/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-Bold.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 800;
	font-display: block;
    src: url('/fonts/woff/Pretendard-ExtraBold.eot');
    src: url('/fonts/woff/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-ExtraBold.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 900;
	font-display: block;
    src: url('/fonts/woff/Pretendard-Black.eot');
    src: url('/fonts/woff/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/woff/Pretendard-Black.woff2') format('woff2'),
         url('/fonts/woff/Pretendard-Black.woff') format('woff');
}

